<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="centered">

        <h1 class="product__title">
            <%= product.title %>
        </h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>" width="300px" height="auto">
        </div>
        <h2 class="product__price">$
            <%= product.price %>
        </h2>
        <p class="product__description">
            <%= product.description %>
        </p>
        <%- include('../includes/add-to-cart.ejs') %>

        </article>
    </main>
    <%- include('../includes/end.ejs') %>